$color: blue;

@mixin autoprefixer-test {
  user-select: none;
}

.autoprefixer-test {
  @include autoprefixer-test;
  color: $color;
}

body * {
  display: flex;
  color: $color;
}

.app {
  background: url(./assets/main.jpg);
  background-size: cover;
}
